<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="android.overlay.RMX2185"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
                android:requiredSystemPropertyName="ro.product.model"
		android:requiredSystemPropertyValue="RMX2185"
		android:priority="800"
		android:isStatic="true" />
</manifest>
